<blockquote>
	<p>
	Somos un grupo de personas que tiene como meta lograr conformar un fuerte equipo de trabajo, un ambiente de camaradería par trabajar y con estas bases, lograr grandes objetivos.
	</p>
</blockquote>