
<section class="col-xs-12" style="margin-left:8%">
	<div class="col-xs-4 dl-horizontal">
		<%= image_tag("Catalina.jpg", :alt => "rss feed", :class => "img-circle img-responsive") %>
		<br>Catalina Grajales
	</div>
	<div class="col-xs-4 dl-horizontal">
		<%= image_tag("Cristian.jpg", :alt => "rss feed", :class => "img-circle img-responsive") %>
		<br>Cristian Castro
	</div>
	<div class="col-xs-4 dl-horizontal">
		<%= image_tag("CamiloAlvarez.jpg", :alt => "rss feed", :class => "img-circle img-responsive") %>
		<br>
		<div class="center-block">
			Camilo Alvarez
		</div>
		
	</div>
	
</section>

